.spinContainer {
    background: #002f74;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
}

.spinContainerP {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.spinContainer {
    text-align: center;
    box-sizing: border-box;
}

.spinContainer .spin {
    border: 3px solid #0d4b9f;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

.spinContainer #loader2 {
    border: 3px solid #e0edff;
    width: 220px;
    height: 220px;
    position: relative;
    top: -216px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

.spinContainer #loader3 {
    border: 3px solid #005cdc;
    width: 240px;
    height: 240px;
    position: relative;
    top: -452px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

.spinContainer #loader4 {
    border: 3px solid #94b6e5;
    width: 260px;
    height: 260px;
    position: relative;
    top: -708px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

@keyframes rotate {
    0% {
        transform: rotateZ(-360deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

.spinContainer #text {
    color: #d6e3f6;
    font-family: Arial;
    font-size: 15px;
    position: relative;
    top: -857px;
}