@import url("https://fonts.googleapis.com/css2?family=Average&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.enroll_items {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.enroll_items input {
  margin: 12px 12px !important;
  padding: 12px 12px !important;
  font-size: 20px !important;
  width: 800px !important;
  text-align: center !important;
  border-radius: 10px !important;
  background-color: transparent !important;
  border: 2px solid black !important;
  color: black !important;
  font-weight: bolder !important;
  font-family: "Average", serif !important;
}

.enroll_items input::placeholder {
  color: rgb(255, 0, 0) !important;
  font-weight: bold !important;
  opacity: 90 !important;
  font-size: 20px !important;
}

.sub_res {
  display: inline-block !important;
}

#submit {
  text-decoration: none !important;
  width: 145px !important;
}

#reset {
  width: 145px !important;
  margin: 12px 174px !important;
}

#reset:hover {
  cursor: pointer !important;
  background-color: white !important;
  color: black !important;
}

#reset:active {
  background-color: blue !important;
  color: red !important;
}

#submit {
  text-decoration: none !important;
  width: 145px !important;
}

#submit:hover {
  cursor: pointer !important;
  background-color: white !important;
  color: black !important;
}

#submit:active {
  background-color: blue !important;
  color: red !important;
}

#enroll {
  background-color: #e4e8ec !important;
  padding: 75px 0px;
  padding-top: 0;
}

.enroll {
  margin: auto !important;
  width: 70vw !important;
  /* display: flex;
    flex-direction: column;
    justify-content: center; */
  align-items: center !important;
}

.enroll input,
textarea {
  font-family: "Roboto Slab", serif !important;
  font-weight: bolder !important;
  display: inline-block !important;
  width: 97% !important;
  padding: 5px 13px !important;
  font-size: 19px !important;
  /* font-family: 'Roboto', sans-serif !important; */
  text-align: center !important;
  border: 2px solid black !important;
  border-radius: 4px !important;
  margin: 7px 0px !important;
}

.enroll textarea {
  display: inline-block !important;
  /* width: 50%; */
  width: 446px !important;
}

#enroll-head {
  text-align: center !important;
  font-size: 5rem !important;
  font-family: "Roboto Slab", serif !important;
  /* padding: 0px 0; */
  color: #1b5f80 !important;
}

#reset_btn {
  /* width: 46px; */
  display: inline-block !important;
  cursor: pointer !important;
  color: black !important;
}

#reset_btn:hover {
  color: black !important;
  background-color: #bbc7b8 !important;
}

#reset_btn:active {
  color: red !important;
  background-color: blue !important;
}

#submit_btn {
  /* width: 46px; */
  display: inline-block !important;
  cursor: pointer !important;
  color: black !important;
}

#submit_btn:hover {
  color: black !important;
  background-color: #bbc7b8 !important;
}

#submit_btn:active {
  color: red !important;
  background-color: blue !important;
}

.enroll input[type="submit"] {
  width: 476px !important;
}

.enroll input[type="reset"] {
  width: 476px !important;
}

/* #about{
    color: #b5c7da !important;
    text-decoration: none !important;
}

#about:hover{
    text-decoration: underline !important;
    color: rgb(108, 108, 119) !important;
}

#about:active{
    text-decoration: underline;
    color: red !important;
} */
