@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

body::before {
  content: "";
  background-image: url(../Img/bg.jpg);
  position: fixed;
  top: 0%;
  left: 0%;
  opacity: 0.8;
  z-index: -1;
  height: 103%;
  width: 100%;
}

#heading {
  padding: 17px 0px;
  font-size: 92px;
  color: #00ffa1;
  text-align: center;
}

#sub_head {
  text-align: center;
  font-size: 37px;
  color: #00fff3;
}

#introsection {
  font-family: "ZCOOL QingKe HuangYou", cursive;
  /* vertical-align: middle; */
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#take {
  font-size: 50px;
  padding: 135px 0px;
  color: #00b8ff;
  padding-bottom: 0px;
}

#let {
  font-size: 43px;
  color: aquamarine;
}

.browse {
  padding: 23px 0px;
  font-size: 42px;
}

#browse1 {
  padding-bottom: 0;
}

#browse2 {
  padding-top: 0;
  text-align: center;
}

#whytotakesection {
  background-color: #e4e8ec;
  /* display: flex; */
}

.div-whytotakesection {
  width: 458px;
  /* display: flex; */
  /* display: inline-block; */
  border: 2px solid black;
  margin: 20px 5px;
  border-radius: 17px;
  padding: 16px 9px;
  height: 223px;
  text-align: center;
}

.contentdiv {
  display: flex;
}

.para-whytotakesection {
  padding-top: 12px;
  font-family: "Markazi Text", serif;
  font-size: 24px;
}

#content-whytotakesection {
  width: 73%;
  margin: auto;
}

.heading-whytotakesection {
  font-family: "Secular One", sans-serif;
}

#sponsers-section {
  background-color: #cedbe6;
  text-align: center;
}

#heading-sponsers-section {
  font-size: 55px;
  color: #3c0956;
  text-align: center;
  padding: 8px 0px;
  font-family: "Roboto Slab", serif;
}

.logos {
  padding: 0px 48px;
  padding-bottom: 17px;
}

#specification-section {
  display: flex;
  justify-content: center;
}

#specification {
  font-family: "Markazi Text", serif;
  background-color: #cedbe6;
}

.specification-section-div {
  padding: 10px 12px;
  margin: 23px 25px;
  border: 2px solid black;
  border-radius: 15px;
  width: 273px;
  text-align: center;
}

.specification-section-img {
  border-radius: 15px;
  height: 70%;
  width: 100%;
}

#specification-section-heading {
  font-size: 55px;
  color: #3c0956;
  text-align: center;
  padding: 8px 0px;
  font-family: "Roboto Slab", serif;
}

#howmuchlang-section {
  background-color: #e4e8ec;
  height: 609px;
}

#howuchlang-heading {
  font-size: 46px;
  color: #3c0956;
  text-align: center;
  padding: 8px 0px;
  font-family: "Roboto Slab", serif;
}

#howmuchlang-para {
  padding: 9px 10px;
  font-size: 29px;
  text-align: center;
  font-family: "Markazi Text", serif;
}

#howmuchlang-img {
  margin: auto;
  display: block;
  padding: 0px 12px;
  border-radius: 160px;
  width: 50vw;
  /* margin-bottom: 0px; */
  background-color: #d7dde2;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  background-color: #e4e8ec;
}

.button-div {
  width: 23vw;
  border-radius: 5px;
  border: 2px solid rgb(0 0 0 / 32%);
  margin: 20px 0px;
  text-align: center;
  height: 78vh;
}

.button-img {
  margin-top: 11px;
  border-radius: 9px;
  height: 34vh;
}

.code-heading {
  padding: 7px 0px;
  font-family: "Secular One", sans-serif;
}

.code-para {
  font-size: 20px;
  font-family: "Markazi Text", serif;
  padding: 10px 11px;
  padding-top: 0;
}

.button-btn {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-family: "Markazi Text", serif;
  padding: 8px;
  /* font-weight: bold; */
  font-size: 29px;
  border-radius: 6px;
}

.button-btn:hover {
  background-color: #1570d1;
}

.button-btn:active {
  background-color: #155599;
}

.contentdiv2 {
  margin-top: 0;
}

@media only screen and (max-width: 1326px) {
  .code-para {
    margin-bottom: 16px;
  }

  .logos {
    padding: 0px 20px;
  }

  body:before {
    height: 105%;
  }

  #para-about-section {
    padding: 9px 10px;
    font-size: 22px;
    font-family: "Markazi Text", serif;
    text-align: center;
  }
}

@media only screen and (max-width: 1232px) {
  #heading {
    font-size: 80px;
  }
}

@media only screen and (max-width: 1076px) {
  .browse {
    font-size: 37px;
  }

  #heading {
    font-size: 70px;
  }

  .heading-whytotakesection {
    font-size: 18px;
  }

  #howmuchlang-section {
    height: 550px;
  }

  .logos {
    padding: 0px 2px;
  }
}

@media only screen and (max-width: 1022px) {
  #howuchlang-heading {
    font-size: 40px;
  }

  .contentdiv2 {
    height: 253px;
  }

  .button-div {
    width: 28vw;
  }
}

@media only screen and (max-width: 930px) {
  #introsection {
    height: 100vh;
    text-align: center;
  }

  #heading {
    font-size: 66px;
  }

  .specification-section-div {
    margin: 23px 12px;
  }

  #content-whytotakesection {
    width: 85%;
  }

  .logos {
    height: 160px;
  }

  .button-div {
    height: 80vh;
  }
}

@media only screen and (max-width: 884px) {
  #heading {
    font-size: 60px;
  }

  .specification-section-div {
    margin: 23px 7px;
  }
}

.spects-div {
  display: inline-block;
}

@media only screen and (max-width: 802px) {
  #heading {
    font-size: 50px;
  }

  #take {
    font-size: 46px;
  }

  .specification-section-div {
    height: 260px;
  }

  #content-whytotakesection {
    width: 90%;
  }

  .logos {
    height: 120px;
    margin: 0 10px;
  }

  .button-div {
    width: 31vw;
  }
}

@media only screen and (max-width: 700px) {
  #content-whytotakesection {
    width: 98%;
  }

  .logos {
    margin: 0 45px;
  }

  .button-img {
    height: 25vh;
  }

  .button-btn {
    font-size: 25px;
  }
}

@media only screen and (max-width: 662px) {
  #heading {
    font-size: 45px;
  }

  .contentdiv2 {
    height: 284px;
  }
}

@media only screen and (max-width: 610px) {
  #specification-section {
    flex-direction: column;
    align-items: center;
  }

  #buttons {
    align-items: center;
    flex-direction: column;
  }

  .button-div {
    width: 61vw;
  }

  .button-img {
    height: 30vh;
  }

  .code-para {
    font-size: 25px;
  }
}

@media only screen and (max-width: 568px) {
  #introsection {
    height: 110vh;
  }

  #howuchlang-heading {
    font-size: 30px;
  }

  #howmuchlang-img {
    width: 80vw;
  }

  #content-whytotakesection {
    width: 100%;
  }

  .contentdiv {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .div-whytotakesection {
    width: 390px;
    height: 223px;
  }

  .contentdiv2 {
    height: 223px;
  }

  .logos {
    margin: 5px 45px;
  }

  #sponsers-section {
    background-color: #cedbe6;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #heading2-aboutsection {
    font-size: 40px !important;
  }
}

@media only screen and (max-width: 498px) {
  #introsection {
    height: 120vh;
  }

  #heading2-aboutsection {
    font-size: 35px !important;
  }
}

@media only screen and (max-width: 416px) {
  #introsection {
    height: 100vh;
  }

  #heading {
    font-size: 38px;
  }

  #sub_head {
    font-size: 28px;
  }

  #take {
    padding: 42px 0;
    font-size: 32px;
  }

  .div-whytotakesection {
    width: 85%;
  }

  .button-div {
    width: 75%;
  }

  #heading-aboutsection {
    font-size: 40px !important;
  }

  #heading2-aboutsection {
    font-size: 30px !important;
  }

  footer {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 393px) {
  #introsection {
    height: 108vh;
  }

  #specification-section-heading {
    font-size: 40px;
  }

  #howuchlang-heading {
    font-size: 20px;
  }

  .div-whytotakesection {
    width: 85%;
    height: 260px;
  }

  .button-div {
    width: 80%;
  }

  footer {
    padding: 10px 0px;
    font-size: 15px !important;
    text-align: center;
  }

  #heading-aboutsection {
    font-size: 30px !important;
  }

  #heading-sponsers-section {
    font-size: 40px;
  }

  .logos {
    margin: 5px 0px;
  }
}
