#notfound {
  background: rgb(206 219 230);
  color: #222;
  font: 15px/22px arial, sans-serif;
  /* max-width: 600px; */
  /* min-height: 180px; */
  padding: 7% auto 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 42px;
}

#notfound #div {
  margin: 20px 0px;
  border-bottom: 2px solid #4242c5;
}

#notfound p {
  margin: 11px 0 22px;
  overflow: hidden;
}

#notfound ins {
  color: #777;
  text-decoration: none;
}

#notfound #logo {
  height: 156px;
  border: 3px solid #0b0e6b;
  border-radius: 91px;
}
