* {
  margin: 0;
  padding: 0;
}

.div-adget {
  background: #2a3138d1;
  color: #222;
  padding: 15px;
  font: 15px/22px arial, sans-serif;
  height: 100vh;
  color: white;
}

.div-adget > * {
  background: url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;
  padding-right: 205px;
}

#div-adget {
  margin: 7% auto 0;
  max-width: 600px;
  min-height: 180px;
  padding: 30px 0 15px;
  font-size: 20px;
}

#div-adget p {
  margin: 11px 0 22px;
  overflow: hidden;
}

#div-adget ins {
  color: #e0d1d1;
  text-decoration: none;
}

#div-adget #logo {
  height: 156px;
  border: 3px solid #0b0e6b;
  border-radius: 91px;
}
